%div{:id => "standby_#{standby.id}"}
  = form_for([standby.member, standby], :remote => true, :method => :put) do |f|
    - if standby.deleted?
      = f.hidden_field :deleted, :value => false
      %span.deleted
        = render :partial => "standbys/times", :locals => {:standby => standby}
      - unless standby.locked?
        (#{link_to 'Undelete', '#', :class => :submit})
    - elsif standby.short?
      = f.hidden_field :deleted, :value => true
      - @standbywarning = true
      %span.shortstandby
        = render :partial => "standbys/times", :locals => {:standby => standby}
      - unless standby.locked?
        (#{link_to 'Delete', '#', :class => :submit})
      *
    - else
      = f.hidden_field :deleted, :value => true
      = render :partial => "standbys/times", :locals => {:standby => standby}
      - unless standby.locked?
        (#{link_to 'Delete', '#', :class => :submit})
