%h2 #{@member.lastname}, #{@member.firstname} (##{@member.badgeno})
%p The current time is #{Time.now.strftime("%H:%M")}
%p Add Standby:

= form_for([@member, @standby]) do |f|
  = f.error_messages
  %p
    #{f.label :start_time, 'Start'}:
    = f.text_field :start_date, :size => 10, :class => 'date',
                   :value => format_date_for_standby(Date.today)
    &nbsp;
    = f.time_select :start_time, :minute_step => 15,
                    :default => Time.parse('7:00')
  %hr#newstandbydivider
  %p
    #{f.label :end_time, 'End'}:
    = f.text_field :end_date, :size => 10, :class => 'date',
                   :value => format_date_for_standby(Date.today)
    &nbsp;
    = f.time_select :end_time, :minute_step => 15,
                    :default => Time.parse('7:00')
  %p
    = f.submit 'Add'
    = link_to "Cancel", member_path(@member), :class => 'button'
