<tr class="<%= cycle('odd', 'even') %>">
  <td><%= h admin.username %></td>
  <td><%= h role_names(admin) %></td>
  <td><%= link_to "Edit", edit_admin_path(admin) %></td>
  <td><%= link_to "Delete", admin_path(admin), :class => "delete" %></td>
</tr>