<% content_for :head do %>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'jquery.cookie'%>
  <%= javascript_include_tag 'admin' %>
<% end %>

<h2>LOSAP Adminstration Menu</h2>

<p>
  Admin:
  <%=h current_admin.username %>
  [<%= link_to "Change Password", edit_admin_path(current_admin) %>]
  [<%= link_to "Logout", logout_path %>]
</p>

<div id="admintabs">
  <ul id="adminmenu">
    <li><a href="#tab-1">Monthly Reports</a></li>
    <li><a href="#tab-2">Annual Reports</a></li>
    <li><a href="#tab-3">Manage Users</a></li>
  </ul>
  <div id="tab-1">
    <%= render :partial => "monthly_reports" %>
  </div>
  <div id="tab-2">
    <%= render :partial => "reports/annual/find" %>
  </div>
  <div id="tab-3">
    <%= render :partial => 'members/index', :locals => {:members => @admin_console.members} %>
  </div>
</div>

<%= render :partial => 'members/flash_notice' %>
<%= render :partial => 'members/flash_warning' %>

<p>&nbsp;</p>
