<% content_for :head do %>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<h2>LOSAP Adminstration Menu</h2>

<div id="admintabs">
  <ul id="adminmenu">
    <li><a href="#tab-1">Monthly Reports</a></li>
    <li><a href="#tab-2">Annual Reports</a></li>
    <li><a href="#tab-3">Manage Users</a></li>
  </ul>
  <div id="tab-1">
    <div id="accordion">
      <h3><a href="#">Run Report</a></h3>
      <%= render :partial => 'reports/find' %>
      <h3><a href="#">Lock Month</a></h3>
      <%= render :partial => 'locked_months/new' %>
      <% unless @locked_months.empty? %>
      <h3><a href="#">Unlock Month</a></h3>
      <%= render :partial => 'locked_months/index' %>
      <% end %>
      </div>
  </div>
  <div id="tab-2">
    <p>Annual Reports</p>
  </div>
  <div id="tab-3">
    <p>Manage Users</p>
  </div>
</div>

<p>&nbsp;</p>
