<div id="header">
  <h1>
    <%= h member.lastname %>,
    <%= h member.firstname %>
    (#<%= h member.badgeno %>)
  </h1>

  <h2><%= @report.year.strftime("%Y") %> LOSAP Annual Report</h2>

  <p><%= total_points(member) %> Total LOSAP Points.</p>
</div>

<table id="data">
  <tr>
    <td id="sleep_ins">
      <%= render :partial => 'reports/annual/sleep_ins',
        :locals => {:member => member} %>
    </td>
    <td id="standbys">
      <%= render :partial => 'reports/annual/standbys',
        :locals => {:member => member} %>
    </td>
  </tr>
</table>
