#header
  %h1 #{member.lastname}, #{member.firstname} (##{member.badgeno})
  %h2 #{report.year.strftime("%Y")} LOSAP Annual Report
  %p #{total_points(report, member)} Total LOSAP Points.
  
%table(id="data" border="1" cellspacing="0")
  %tr
    - (1 .. 6).each do |n|
      %th= month_number(n).strftime('%B')
  %tr
    - (1 .. 6).each do |n|
      = render(partial: 'reports/annual/month', locals: {member: member, n: n})
            
  %tr
    - (7 .. 12).each do |n|
      %th= month_number(n).strftime('%B')
  %tr
    - (7 .. 12).each do |n|
      = render(partial: 'reports/annual/month', locals: {member: member, n: n})