<form action="#" id="reportform">
  <p>
    <%= label_tag 'year' %>: 
    <%= select_year Date.today,
	:start_year => oldest_date.year,
    :end_year => Date.today.year %>
  </p>
  <p><%= label_tag 'month' %>: <%= select_month Date.today, {}, :id => 'month', :name => 'month' %></p>
  <p><%= submit_tag 'Run Report' %></p>
</form>
