<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>OVFC LOSAP</title>
  <%= stylesheet_link_tag 'jquery-ui-1.8.custom' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.custom.min' %>
  <%= javascript_include_tag 'jquery.idle-timer' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= yield_authenticity_token %>
</head>
<body>

<div id="main" class="rounded">

<%= yield %>

</div>
</body>
</html>
