!!! 5
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title OVFC Losap
    = stylesheet_link_tag 'application'
    = javascript_include_tag :application
    - unless current_admin or (request.fullpath == root_path)
      = javascript_include_tag :timer
    = csrf_meta_tag
    = yield :head
  %body
    #main.rounded
      = yield
    = render :partial => 'shared/flash_notice'
    = render :partial => 'shared/flash_warning'
