- render partial: 'shared/admin'

%h1 Editing member

= form_for member do |f|
  = f.error_messages
  %p
    = f.label :firstname, 'First Name'
    %br
    = f.text_field :firstname
  %p
    = f.label :lastname, 'Last Name'
    %br
    = f.text_field :lastname
  %p
    = f.label :badgeno, 'Badge Number'
    %br
    = f.text_field :badgeno
  %p
    = f.submit 'Update'
    = link_to 'Cancel', admin_console_path, :class => 'button'
