<%= render :partial => "shared/admin" %>

<h1>Register New Member</h1>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :firstname, 'First Name: ' %>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname, 'Last Name: ' %>
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :badgeno, 'Badge Number: ' %>
    <%= f.text_field :badgeno %>
  </p>
  <p>
    <%= f.submit 'Register' %>
    <%= link_to 'Cancel', admin_console_path, :class => 'button'  %>
  </p>
<% end %>
