<h2><%=h @member.lastname %>, <%=h @member.firstname %>
  (#<%=h @member.badgeno %>)</h2>

<h3><%=h show_month(@month) %></h3>

<table id="membertable">
  <tr>
    <th>Date</th>
    <th>Standby</th>
    <th>Sleep-In</th>
  </tr>

  <%= render_sleep_ins_and_standbys(@member, @month) %>

  <% unless locked?(@month) %>
  <tr id="newrow">
    <td>&nbsp;</td>
    <td><%= link_to "New Standby", new_member_standby_path(@member),
    :class => 'button' %></td>
    <td><%= link_to "New Sleep-In", new_member_sleep_in_path(@member),
    :class => 'button' %></td>
  </tr>
  <% end %>
</table>

<%= render :partial => 'standbys/standby_warning' %>
<%= render :partial => 'totals' %>

<p><%= previous_month(@member, @month) %><%= next_month(@member, @month) %></p>
<p><%= link_to 'Exit', root_path, :class => "button" %></p>
