%h2= "#{h @member.lastname}, #{h @member.firstname} (##{h @member.badgeno})"

- cache :fragment => @month do
  %h3= h show_month(@month)

  %table#membertable
    %tr
      %th Date
      %th Standby
      %th Sleep-In
      
    = raw render_sleep_ins_and_standbys(@member, @month)
  
    - unless locked?(@month)
      %tr#newrow
        %td &nbsp;
        %td= link_to "New Standby", new_member_standby_path(@member), :class => 'button'
        %td= link_to "New Sleep-In", new_member_sleep_in_path(@member), :class => 'button'

  = render :partial => 'standbys/standby_warning'

  %p
    -# THIS IS A HACK. FIGURE OUT WHY I NEED TO DO THIS AND FIX IT.
    - @member.reload
    Month-to-date:
    =h @member.sleep_in_points(:month => @month)
    Sleep-In Points, 
    =h @member.standby_points(:month => @month)
    Standby Points, 
    =h @member.hours(:month => @month)
    Hours

- cache :fragment => @month.year do
  %p
    Year-to-date:
    =h @member.sleep_in_points(:year => @month)
    Sleep-In Points,
    =h @member.standby_points(:year => @month)
    Standby Points
    =h @member.hours(:year => @month)
    Hours

%p
  = raw previous_month(@member, @month)
  = raw next_month(@member, @month)
  
%p= link_to 'Exit', root_path, :class => 'button'
